<header class="mb-auto">
  <div class="float-md-start fw-bold fs-5">RFi Samples</div>
  <nav class="nav justify-content-center float-md-end">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="https://github.com/vBuresh/" target="_blank">GitHub</a>
      <!-- dark-mode -->
      <a class="nav-link">
        <span class="form-check form-switch">
          <input type="checkbox" class="form-check-input" id="darkSwitch" />
          <!-- <label class="custom-control-label" for="darkSwitch"> darkMode</label> -->
        </span>
        <!-- dark-mode -->
        <script>
        var darkSwitch=document.getElementById("darkSwitch");window.addEventListener("load",function(){if(darkSwitch){var darkThemeSelected=localStorage.getItem("darkSwitch")!==null&&localStorage.getItem("darkSwitch")==="dark";darkSwitch.checked=darkThemeSelected;darkSwitch.addEventListener("change",function(){resetTheme();});}});function resetTheme(){if(darkSwitch.checked){document.body.setAttribute("data-theme","dark");localStorage.setItem("darkSwitch","dark");}else{document.body.removeAttribute("data-theme");localStorage.removeItem("darkSwitch");}}
        </script>
      </a>
  </nav>
</header>
