// You can also use the SVG within your CSS (be sure to escape any characters, such as # to %23 when specifying hex color values). When no dimensions are specified via width and height on the <svg>, the icon will fill the available space.
//
// The viewBox attribute is required if you wish to resize icons with background-size. Note that the xmlns attribute is required.
// .bi
//
// .bi-alert-triangle

.bi {
  ::before {
    background-image: url('data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>');
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    content: "";
    display: inline-block;
  }
}
