// <section class="rfi-content">

.rfi-content {
  margin-bottom: 120px;
  margin-top: 220px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'PlayfairDisplay';
  }

  h1 {
    // .content-subtitle {}

    small {
      color: $gray-600; // muted
      padding-left: 1rem;
    }
  }

  .content-section {
    h2,
    h3 {
      padding-top: 5rem;
    }

    h4,
    h5 {
      padding-top: 3rem;
    }
  }

  .card-body {
    h3,
    h4,
    h5,
    h6 {
      font-family: 'FiraSans', 'Noto Sans', 'Open Sans';
      padding-top: 0;
    }
  }
}
