// Thenks Christian Oliff - https://github.com/coliff/dark-mode-switch

[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  // background-color: #333 !important;
  background-color: #0A1922 !important;
  color: $gray-200;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .navbar-title {
  color: $rfilightest !important;
}

[data-theme="dark"] .bd-example .card-body {
  // background-color: #333 !important
  color: $rfilightest;
}

// [data-theme="dark"] .highlight pre {
//   background-color: #212529 !important;
// }
