// <section class="pagelist">
// .list-header

.rfi-pagelist {
  background-color: $darkbody;
  color: $rfilightest;
  padding-bottom: 120px;
  // padding-top: 120px;

  .rfi-single-title {

    h1 {
      font-family: 'Playfair Display';
      font-size: 3rem;
      padding-top: 150px;
    }
  }

  .cmir-single-title {

    h1 {
      font-family: 'Ponomar Unicode';
      font-size: 2.5rem;
      padding-top: 150px;
    }
  }

  .list-section {
    padding: 3rem 1.5rem;
  }

  .card {
    background-color: $darkbg;
    border: 0; //solid $darkgimp;
    font-family: 'Fira Sans';

    .card-text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      height: 4.5em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .card-subtitle,
    .card-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
