// 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
// body {
//   padding-top: 76px;
// }
//
// footer {
//   padding: 52px 0;
// }


.divider {
  background: $secondary;
  border-radius: 50px;
  height: 3px;
  margin-bottom: 3rem;
  width: 68px;

  &.text-center {
    margin: 0 auto;
  }
}

.rfi-btn {
  // background-color: $secondary;
  border-color: $rfidark;
  // color: $rfilightest;
  color: $secondary;

  &:hover {
    background-color: $rfibrighter;
    border-color: $rfidarkest;
    color: $darkhover;
    }
  }


.card-subtitle,
.card-title {
  font-family: 'Fira Sans';

  a {
    color: $secondary  ;
    text-decoration: none;
  }
}

.highlight {
  padding-bottom: 1rem;

  pre {
    margin-top: 1rem;
    padding: 1rem;
  }
}
