<h4 class="fs-6 mb-1">{{ i18n "aboutProject" }}</h4>
<nav class="nav flex-column">
  {{- with .Site.GetPage "/about/project" -}}
    <a class="nav-link" href="{{- .RelPermalink -}}">
      {{ partial "icons/bi-info-circle.svg" (dict "width" "14" "height" "14") }} 
     {{ i18n "info" }}
     {{- end -}}
    </a>
  {{- with .Site.GetPage "/about/credits" -}}
    <a class="nav-link" href="{{- .RelPermalink -}}">
      {{ partial "icons/rfi-handshake.svg" (dict "width" "14" "height" "14") }}
      {{ i18n "credits" }}
      {{- end -}}
    </a>
  {{- with .Site.GetPage "/about/copyright" -}}
    <a class="nav-link" href="{{- .RelPermalink -}}">
      {{ partial "icons/rfi-copyright.svg" (dict "width" "14" "height" "14") }}
      {{ i18n "copyright" }}
    </a>
      {{- end -}}
    </nav> 
  