<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
<div class="card border-0">
            <div class="card-body">
              <h5 class="card-title">
                {{- with .Site.GetPage "tags" -}}
                <a href="{{- .RelPermalink -}}">
                  {{- end -}}
                  <!-- TODO: icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" height="1.4em" width="1.4em" class="bi bi-boxes mr-1" viewBox="0 0 16 20" fill="{{ .Site.Params.mainColour }}">
                    <path fill-rule="evenodd" d="M8.044 1.329a.258.258 0 00-.192 0L4.772 2.56l3.176 1.27 3.177-1.27zm3.517 1.613L8.206 4.284v4.089l3.355-1.342V2.943zM7.661.85a.774.774 0 01.575 0l3.68 1.472c.097.04.161.134.161.24v4.47c0 .212-.128.401-.324.48L8.044 8.994a.258.258 0 01-.192 0L4.145 7.51a.516.516 0 01-.326-.48v-4.47c0-.106.065-.2.162-.24z" />
                    <path fill-rule="evenodd" d="M4.225 7.522a.258.258 0 00-.192 0L.953 8.754l3.176 1.27 3.176-1.27zm3.517 1.614l-3.355 1.342v4.089l3.355-1.342V9.136zm-3.9-2.093a.774.774 0 01.575 0l3.679 1.472c.098.04.162.134.162.24v4.47c0 .211-.129.4-.325.48l-3.708 1.482a.258.258 0 01-.192 0L.325 13.704A.516.516 0 010 13.225v-4.47c0-.106.064-.2.162-.24z" />
                    <path fill-rule="evenodd" d="M11.967 7.522a.258.258 0 00-.192 0l-3.08 1.232 3.176 1.27 3.176-1.27zm3.517 1.614l-3.355 1.342v4.089l3.355-1.342V9.136zm-3.9-2.093a.774.774 0 01.574 0l3.68 1.472c.098.04.162.134.162.24v4.47c0 .211-.129.4-.325.48l-3.708 1.482a.258.258 0 01-.192 0l-3.708-1.483a.516.516 0 01-.325-.479v-4.47c0-.106.064-.2.162-.24z" />
                  </svg>
                  {{ i18n "allTags" }}
                </a>
              </h5>
              <div class="list-group">
                {{- range .Site.Taxonomies.tags.ByCount -}}
                <a href="{{- printf "tags/%s" .Name | relLangURL -}}" class="list-group-item d-flex justify-content-between align-items-center" aria-current="true">

                  {{- if eq (.Name) "xxxxx" -}}
                  <!-- <span class="icon"><i class="fa fa-tag"></i></span> -->
                  {{- else -}}
                  <!-- <span class="icon"><i class="fa fa-cube"></i></span> -->
                  {{- end -}}
                  {{- .Page.Title -}}

                  <span class="badge rounded-pill">
                    {{- .Count -}}
                  </span>
                </a>
                {{- end -}}
              </div>
            </div>

          </div>
  </div>
</div>
