  {{- define "main" -}}
  <section class="px-3 text-center">
    {{- $homepage   := .Site.Params.homepage -}}
    {{- $title      := index $homepage "title" -}}
    {{- $subtitle   := index $homepage "subtitle" -}}
    {{- $image      := index $homepage "image" -}}
    {{- $summary    := index $homepage "summary" -}}
    <h1>{{- $title -}}</h1>
    <div class="row justify-content-between pt-5">
      <div class="col align-self-center">
        {{- with $subtitle -}}
        <h2 class="text-muted">
          {{ . }}
        </h2>
        {{- end -}}
        <p class="lead text-start">
          {{- $summary -}}
        </p>
        <p class="lead pt-3 text-start">
          И название проекта <strong><sup>v^</sup>Buresh</strong> выбрано не случайно. Оно содержит глубокий смысл и правдиво отражает эмоционально-духовную составляющую и ценность всего.</p>
        <p class="lead text-start">
          «Lux» на латинском обозначает массу прекрасного: свет, освещение, сияние, светило (поэт.), светоч, блеск, сверкание, ясность, очевидность, широкая гласность, известность, слава, украшение, цвет, помощь, утешение, спасение, дневной и солнечный свет, день, жизнь, зрение (поэт.)
          <br><small class="text-end"><a href="https://ru.wiktionary.org/wiki/lux#%D0%9B%D0%B0%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%B8%D0%B9">См. «Lux» в Викисловаре</a></small>
        </p>
        <p class="lead text-start">
          Ну а про IVA, — и так всё понятно.</p>
      </div>
      <div class="col">
        <figure class="figure">
          <img src="images/logo-ivalux.jpg" class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-end">«Бычок». Акварель, бамага. 2021 г. Виктория Исаева</figcaption>
        </figure>
      </div>
    </div>
<!--
    <p class="lead pt-5">
      <a href="/about/" class="btn btn-lg btn-outline-info fw-bold">Подробнее
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg>
     </a>
    </p>
-->
  </section>
  {{- end -}}
