/* --customMainColour: var(--mainColour); */
/* Пользовательские настройки */
/* Подгонка меню под логотип*/

.nav-scroller {
  font-family:'Golos UI VF';
  font-weight: 700;
  margin-top: -.45rem;
  padding-left: 3.725rem;
}

.nav-masthead .nav-link {
  color: var(--rfi-veryDarkBlue);
}

.navtopline {
  background: var(--rfi-veryDarkBlue);
  background: linear-gradient(90deg, rgba(0,26,51,1) 0%, rgba(0,26,51,1) 40%, rgba(255,255,255,1) 100%);
  border-radius: 50px;
  height: 2px;
  margin-bottom: .001rem;
  width: 128px;
}
в
