{{ $imgTxt_One := .Get 0 | default "Какие слайды!" }}
{{ $slideWidth := .Get 1 | default "w-100" }}
{{ $margins := .Get 2 | default "mt-0 mb-3" }}
<section class="sladerlux mt-0 mb-3 ">
  <div id="sladerluxControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {{ with .Page.Resources.Match "images/*" }}
      <div class="carousel-item active">
        <img src="images/art-slide.jpg" class="d-block w-100" alt="...">
      </div>
      {{ range . }}
      {{/* отбор всех изображений images/* только из директории images w-auto*/}}
      <div class="carousel-item text-center">
        <img src="{{ .RelPermalink }}" class="d-block w-100" alt="...">
      </div>
      {{ end }}
    </div>
    {{ end }}
    <figcaption class="figure-caption mt-1">
      {{ $imgTxt_One }}
    </figcaption>
    <button class="carousel-control-prev" type="button" data-bs-target="#sladerluxControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{{ i18n "slidePrevious" }}</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sladerluxControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{{ i18n "slideNext" }}</span>
    </button>
  </div>
</section>